<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="clientes" type="System.Configuration.DictionarySectionHandler" />
    <section name="Constantes" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <clientes>
    <add key="ETP" value="Data Source=EG-PC;Initial Catalog=AdminProyectos;Persist Security Info=True;User ID=usr_admin;Password=usr_admin" />
  </clientes>
  <configXml_Info>
    <info>Generado con XmlConfig para Visual Basic 2003</info>
    <revision>Mon, 20 Sep 2006 20:20:00 GMT</revision>
    <formatoUTF8>El formato de este fichero debe ser UTF-8</formatoUTF8>
  </configXml_Info>
</configuration>